<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.dgit.book_project.dao.CodenMapper">


	<resultMap type="Coden" id="CodenResult">
		<id property="cName" column="c_name" />
		<result property="cCode" column="c_code" />
	</resultMap>

	<sql id="insertSql">
		insert into coden ( c_name, c_code) values(#{cName}, #{cCode})
	</sql>
	<sql id="updateSql">
		update CODEN
		<set>
			<if test="cCode !=null">c_code=#{cCode}</if><!-- 
			<if test="cName !=null">c_name=#{cName}</if> -->
		</set>

	</sql>
	<sql id="selectSql">
		SELECT c_name, c_code FROM coden;
	</sql>
	<sql id="whereSql">
		where c_name=#{cName}
	</sql>


	<insert id="insertCoden" parameterType="Coden">
		<include refid="insertSql" />
	</insert>
	<update id="updateCoden" parameterType="Coden">
		<include refid="updateSql" />
		<include refid="whereSql" />
	</update>
	
	<select id="selectCodenAll" resultMap="CodenResult">
		<include refid="selectSql" />
	</select>
	
	<select id="selectOneByCode" parameterType="hashmap" resultMap="CodenResult">
		<include refid="selectSql" />
		where c_code = #{cCode}
	</select>
</mapper>