<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.book_project.dao.MemberInfoMapper">
	
	<resultMap id="MemberInfoResult" type="MemberInfo" >
		<id property="mCode" column="m_code"/>
		<result property="mPass" column="m_pass"/>
		<result property="mName" column="m_name"/>
		<result property="mTel" column="m_tel"/>
		<result property="mZipCode" column="m_zip_code"/>
		<result property="mAddress" column="m_address"/>
		<result property="isSecsn" column="is_secsn"/>
		<result property="isPosbl" column="is_posbl"/>
		<result property="delayCount" column="delay_count"/>
		<result property="mLendCount" column="m_lend_count"/>
		<result property="mNowCount" column="m_now_count"/>
		<result property="blackDate" column="black_date"/>		
	</resultMap>
	
	<select id="selectCountAll" resultType="int">
		select count(*) from memberinfo;
	</select>
	
	<insert id="insertMemberInfo" parameterType="MemberInfo">
		insert into memberinfo
		(m_code, m_name, m_tel, m_zip_code, m_address, m_pass, m_group) 
		values(#{mCode}, #{mName} ,#{mTel} ,#{mZipCode} ,#{mAddress} ,#{mPass} ,#{mGroup});
	</insert>
	
	<select id="selectMemberByAll" resultType="MemberInfo">
		select m_code, m_name, m_tel, m_zip_code, m_address, m_pass, m_group from memberinfo;
	</select>
	
	<!-- <select id="findMemberInfoByCode" parameterType="code" resultType="MemberInfoResult" >
		select m.m_name, m.m_code, m_tel, m_zip_code, m_address, if(black_date is null," ",black_date)
		from memberInfo m inner join memberLend ml on m.m_code = ml.m_code where m.m_code = #{memberInfo.mCode}
	</select> -->
</mapper>